$primary-color: rgba(0, 0, 0, 0);
$secondary-color: rgb(71, 71, 71);
$terciary-color: rgb(255, 255, 255);
$bg-color: rgb(255, 255, 255);
$button-color: rgb(255, 255, 255);
$text-primary-color: rgb(255, 255, 255);
$text-secondary-color: rgb(255, 255, 255);

$title-size: 30px;