$primary-color: rgb(114, 0, 0);
$secondary-color: rgb(0, 0, 0);
$terciary-color: rgb(168, 168, 168);
$bg-color: rgb(0, 0, 0);
$button-color: rgb(255, 255, 255);
$text-primary-color: rgb(255, 0, 0);
$text-secondary-color: rgb(255, 255, 255);

$title-size: 30px;