$primary-color: rgb(124, 0, 0);
$secondary-color: rgb(0, 0, 0);
$terciary-color: rgb(168, 168, 168);
$bg-color: rgb(0, 0, 0);
$button-color: rgb(255, 255, 255);
$text-primary-color: rgb(204, 25, 25);
$text-secondary-color: rgb(255, 255, 255);

$title-size: 30px;