@import "carrousel";
@import "variables";
body{
  background-color: $bg-color;
  color: $text-primary-color;
  margin: 0px;
}
main{
  background-color: $primary-color;
  color: $text-primary-color;
  width: 100%;
  min-height: 800px;
  display: flex;
}
footer{
  background-color: $terciary-color;
  border-top: 1px solid white;
}
header{
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  padding: 0px 100px;
  border-bottom: 1px solid white;
  #logo{
    width: 250px;
    height: 250px;
  }
  h1{
    font-size: 60px;
  }
}
