@import "carrousel";
@import "variables";
@import "tabs";
@font-face {
  font-family: 'Dwarven Axe';
  src: url('/src/assets/DwarvenAxe\ BB\ W00\ Regular.ttf');
}
body{
  background-color: $bg-color;
  color: $text-primary-color;
  margin: 0px;
}
#bg-video{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
main{
  color: $text-primary-color;
  width: 100%;
  display: flex;
  .container{
    background-image: linear-gradient(to bottom right, $primary-color, $secondary-color);
    margin: auto;
    min-height: 1000px;
    width: 80%;
    border: solid $secondary-color;
    border-width: 0px 5px;
  }
  h2{
    margin: auto;
    margin-top: 100px;
    text-align: center;
  }
  audio{
    display: block;
    margin: auto;
    margin-top: 50px;
  }
  h3{
    margin: 50px 100px;
    padding: 30px 20px;
    background: $secondary-color;
  }
}
header{
  background-image: linear-gradient($terciary-color,$secondary-color);
  display: flex;
  align-items: center;
  padding: 0px 100px;
  border-bottom: 1px solid white;
  #logo{
    width: 250px;
    height: 250px;
  }
  h1{
    font-size: 100px;
    font-family: "Dwarven Axe";
    color: rgb(255, 255, 255);
    letter-spacing: 10px;
  }
}
