@import "carrousel";
@import "variables";
body{
  background-color: $bg-color;
  color: $text-primary-color;
  margin: 0px;
}
#bg-video{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
main{
  background-color: $primary-color;
  color: $text-primary-color;
  width: 100%;
  min-height: 800px;
  display: flex;
}
header{
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  padding: 0px 100px;
  border-bottom: 1px solid white;
  #logo{
    width: 250px;
    height: 250px;
  }
  h1{
    font-size: 60px;
  }
}
